.iconWrapper {
  all: unset;
  box-sizing: border-box;
  background-color: transparent;
  font: inherit;
  color: var(--text);
  cursor: pointer;
  padding: 0;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:hover {
    background-color: var(--hovered-bg);
  }

  &:active,
  &:focus {
    background-color: var(--focused-bg);
  }
}
