<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="loa.backend.mapper.BoardMapper">

	<select id="getAllArticle" parameterType="BoardModel" resultType="BoardModel">
		select *
		from (
			select board_number,COUNT(*)OVER(PARTITION BY bpi.board_number) as member_count
			from board_party_info bpi) t1 
		join board_info bi on t1.board_number = bi.board_number
		join board_raid_info bri on t1.board_number = bri.board_number 
		join board_party_filter bpf on t1.board_number = bpf.board_number
		where 1 = 1
		<if test = 'raid_leader != null  and raid_leader !=""'>
			and bi.raid_leader = #{raid_leader}
		</if>
		<if test = 'title != null  and title !=""'>
			and bi.title like CONCAT('%',#{title},'%')
		</if>
		<if test = 'proficiency != null  and proficiency !=""'>
			and bpf.proficiency = #{proficiency}
		</if>
		<if test = 'raid_type != null  and raid_type !=""'>
			and bri.raid_type = #{raid_type}
		</if>
		<if test = 'raid_difficulty != null  and raid_difficulty !=""'>
			and bri.raid_difficulty = #{raid_difficulty}
		</if>
		<if test = 'minGate != null  and minGate !=""'>
			and bri.minGate = #{minGate}
		</if>
		<if test = 'maxGate != null  and maxGate !=""'>
			and bri.maxGate = #{maxGate}
		</if>
		<if test = 'startDate != null  and startDate !=""'>
			and bri.startDate<![CDATA[ >= ]]>#{startDate}
		</if>
		<if test = 'user_number != null  and user_number !=""'>
			and bi.user_number = #{user_number}
		</if>
		group by t1.board_number
		order by 
		<if test = 'startDate != null  and startDate !=""'>
			bri.startDate,
		</if>
		t1.board_number
		limit #{offset},#{limit}
	</select>

	<select id="getArticle" parameterType="BoardModel" resultType="BoardModel">
		select *
		from board_info bi 
		join board_raid_info bri on bi.board_number = bri.board_number 
		join board_party_filter bpf on bi.board_number = bpf.board_number 
		where bi.board_number = #{board_number}
	</select>
	
	<select id="getPartyMember" parameterType="BoardModel" resultType="String">
		select party_member
		from board_party_info bpi
		where bpi.board_number = #{board_number}
	</select>

	<insert id="addArticle1" parameterType="BoardModel">
    	insert into loain.board_info (title, content, user_number, view_cnt, raid_leader, status) value (#{title},#{content},#{user_number},"0",#{raid_leader},"모집중");
    </insert>
    
    <insert id="addArticle2" parameterType="BoardModel">
    	insert into loain.board_party_filter (board_number, proficiency, card_level, minLevel) value (#{board_number},#{proficiency},#{card_level},"0");
    </insert>
    
    <insert id="addArticle3" parameterType="BoardModel">
    	insert into loain.board_party_info (board_number, party_member) value (#{board_number},#{party_member});
    </insert>
    
    <insert id="addArticle4" parameterType="BoardModel">
    	insert into loain.board_raid_info (board_number, raid_type, raid_difficulty, minGate, maxGate, startDate) value (#{board_number},#{raid_type},#{raid_difficulty},#{minGate},#{maxGate},#{startDate});
    </insert>
    
    <select id="checkBoardNum" resultType="BoardModel">
    	select board_number from loain.board_info order by board_number desc limit 1
    </select>
    
    <select id="getRaid" resultType="BoardModel">
		select * 
		FROM board_info bi 
		join board_raid_info bri on bi.board_number = bri.board_number
		join board_party_info bpi on bi.board_number = bpi.board_number
		join board_party_filter bpf on bi.board_number = bpf.board_number 
		join character_info ci on ci.character_name = bpi.party_member
		join board_applicant ba on bi.board_number = ba.board_number
		where ci.user_number  = #{user_number}
		<if test = 'startDate != null  and startDate !=""'>
			and bri.startDate<![CDATA[ >= ]]>#{startDate}
		</if>
		order by bri.startDate 
	</select>
	
	<select id="getRaidOnQue" resultType="BoardModel">
		select *
		FROM board_info bi 
		join board_raid_info bri on bi.board_number = bri.board_number
		join board_party_filter bpf on bi.board_number = bpf.board_number
		join board_applicant ba on bi.board_number = ba.board_number 
		join character_info ci on ci.character_name = ba.character_name 
		where ci.user_number  = #{user_number}
		<if test = 'startDate != null  and startDate !=""'>
			and bri.startDate<![CDATA[ >= ]]>#{startDate}
		</if>
		and ba.application_status = '수락대기중'
		order by bri.startDate 
	</select>
	
	<delete id="deleteArticle">
		delete from 
		board_info, board_party_filter, board_party_info, board_raid_info
		Using board_info
		left join board_party_filter on board_info.board_number = board_party_filter.board_number
		left join board_party_info on board_info.board_number = board_party_info.board_number
		left join board_raid_info on board_info.board_number = board_raid_info.board_number
		where board_info.board_number = #{board_number}
	</delete>
	
	<insert id="apply" parameterType="BoardModel">
    	insert into loain.board_applicant (character_name, board_number, mention, application_status) value (#{character_name},#{board_number},#{mention},"수락대기중");
    </insert>
    
    <select id="getAllApplicants" parameterType="BoardModel" resultType="BoardModel">
		select * from board_applicant ba 
		where ba.board_number  = #{board_number} 
		and ba.application_status = '수락대기중'
	</select>
	
	<update id="acceptApplication">
		update loain.board_applicant SET 
		application_status = '수락'
		where board_number = #{board_number}
		and character_name = #{character_name}
	</update>
	
	<update id="rejectApplication">
		update loain.board_applicant SET 
		application_status = '거절'
		where board_number = #{board_number}
		and character_name = #{character_name}
	</update>
	
	<update id="cancelApplication">
		update loain.board_applicant SET 
		application_status = '취소'
		where board_number = #{board_number}
		and character_name = #{character_name}
	</update>
	
	<select id="timeCheck" parameterType="BoardModel" resultType="BoardModel">
		SELECT bri.startDate
		FROM character_info ci 
		join board_party_info bpi on bpi.party_member = ci.character_name 
		join board_raid_info bri on bri.board_number = bpi.board_number 
		where ci.user_number = #{user_number}
		and bri.startDate<![CDATA[ >= ]]>#{startDate}
		order by bri.startDate 
	</select>
</mapper>