<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="loa.backend.mapper.UserMapper">
    <select id="getUser" resultType="java.util.Map">
        select *
        from loain.user_info 
    </select>
    
    <insert id="addUser">
    	insert into loain.user_info (user_number, character_name) 
    	value (#{user_number},#{character_name})
    </insert>
    
    <select id="login" parameterType="UserModel" resultType="UserModel">
        select user_number, character_name
        from loain.user_info
        where user_number = #{user_number}
    </select>
    
    <select id="getCharacterName" parameterType="UserModel" resultType="CharacterModel">
        select *
        from loain.character_info
        where user_number = #{user_number}
    </select>
    
    <delete id="deleteUser">
        delete from 
		loain.user_info, loain.character_info
		Using loain.user_info
		left join loain.character_info
		on loain.user_info.user_number = loain.character_info.user_number 
		where loain.character_info.user_number = #{user_number}
    </delete>
    
    <insert id="addCharacter">
    	insert into loain.character_info (user_number, ServerName, character_name, CharacterLevel, CharacterClassName, ItemAvgLevel, ItemMaxLevel) 
    	value (#{user_number},#{ServerName},#{character_name},#{CharacterLevel},#{CharacterClassName},#{ItemAvgLevel},#{ItemMaxLevel})
    	on duplicate key update
    		CharacterLevel = #{CharacterLevel},
    		ItemAvgLevel = #{ItemAvgLevel},
    		ItemMaxLevel = #{ItemMaxLevel}
    </insert>
    
    <update id="updateCharacter">
    	update loain.character_info set 
    	CharacterLevel = #{CharacterLevel},
    	ItemAvgLevel = #{ItemAvgLevel},
    	ItemMaxLevel = #{ItemMaxLevel}
    	where character_name = #{character_name}
    </update>
    
    <select id="getCharacter" parameterType="UserModel" resultType="CharacterModel">
        select *
        from loain.character_info
        where character_name = #{character_name}
    </select>
</mapper>
