.button {
  height: 38px;
  // padding: 0 14px;
  border: none;
  border-radius: 999px;
  display: flex;
  align-items: center;
  color: rgba(var(--default-button-font), 1);

  > span {
    padding: 0 14px;
  }

  background-color: rgba(var(--default-button-background), 1);
  &:hover {
    background-color: rgba(var(--default-button-background-hover), 1);
  }
  &:active {
    background-color: rgba(var(--default-button-background-active), 1);
  }

  &.default {
    color: rgba(var(--default-button-font), 1);
    background-color: rgba(var(--default-button-background), 1);
    &:hover {
      background-color: rgba(var(--default-button-background-hover), 1);
    }
    &:active {
      background-color: rgba(var(--default-button-background-active), 1);
    }
  }

  &.brand {
    color: rgba(var(--brand-button-font), 1);
    background-color: rgba(var(--brand), 1) !important;
    &:hover {
      background-color: rgba(var(--brand-hover), 1) !important;
    }
    &:active {
      background-color: rgba(var(--brand-hover), 1) !important;
    }
  }
}
