.section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 38px;
}

.navWrapper {
  display: none;
  position: relative;
  height: 100%;

  > div {
    position: sticky;
    top: 57px;
  }
}

.outletWrapper {
  min-height: calc(100vh - 57px);
  border-left: none;
  padding-top: 0;
  padding-left: 0;
}

@media screen and (min-width: 1200px) {
  .section {
    grid-template-columns: 1fr 4fr;
  }
  .navWrapper {
    display: block;
  }
  .outletWrapper {
    border-left: 1px solid rgba(var(--divider), 1);
    padding-top: 15px;
    padding-left: 15px;
  }
}
