.section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 57px 12px 0;
}

.navWrapper {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section {
    grid-template-columns: 1fr 4fr;
  }
  .navWrapper {
    display: block;
  }
}
