@import "./_reset";
@import "./variables";

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
}

body {
  background-color: rgba(var(--background), 1);
  color: rgba(var(--font), 1);
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 15px;
  overflow-x: hidden;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  color: inherit;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  word-break: keep-all;

  &:disabled {
    cursor: not-allowed;
  }
}

@media screen and (min-width: 480px) {
  button {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 4px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background-color: #aaa; /* 스크롤바 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent; /*스크롤바 뒷 배경 색상*/
}
