@import "./_reset";
@import "./variables";

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(var(--background), 1);
  color: rgba(var(--font), 1);
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

button {
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 4px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background-color: #aaa; /* 스크롤바 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent; /*스크롤바 뒷 배경 색상*/
}
