.nav_left {
  padding: 4px 8px;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 40px);
  column-gap: 4px;

  @media (max-width: 480px) {
    display: none;
  }

  .link_wrapper {
    position: relative;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    // padding: 8px 12px;
    min-width: 0;

    @media (max-width: 768px) {
      width: 38px;
    }

    > p {
      position: absolute;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      overflow: hidden;
      width: 70px;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;
      font-size: 14px;
      text-align: left;

      @media (max-width: 768px) {
        width: 0px;
      }
    }
  }
}
